In [118]:
import openai
import streamlit as st
import time
from modules import llm,cache_processing
from modules_ import db
openai.api_key = st.secrets["api_secret"]
# openai.api_base = "http://xx.xx.xx.xx:1234/v1"
# openai.api_key = ""
def chat_with_openai(prompt, st, model="gpt-3.5-turbo-1106", max_tokens=500, temperature=0.0, delay_time=0.01, num_retries=2):

    start = time.time()
    answer = ""
    full_response = ""
    retry_count = 0
    system_message = "A Data Engineer. You follow an approved plan. Generate the initial SQL based on the requirements provided. Send it to the Sr Data Analyst to be executed."
    DEFAULT_SYSTEM_MESSAGE = """You are a helpful AI assistant.
Solve tasks using your coding and language skills.
In the following cases, suggest python code (in a python coding block) or shell script (in a sh coding block) for the user to execute.
    1. When you need to collect info, use the code to output the info you need, for example, browse or search the web, download/read a file, print the content of a webpage or a file, get the current date/time, check the operating system. After sufficient info is printed and the task is ready to be solved based on your language skill, you can solve the task by yourself.
    2. When you need to perform some task with code, use the code to perform the task and output the result. Finish the task smartly.
Solve the task step by step if you need to. If a plan is not provided, explain your plan first. Be clear which step uses code, and which step uses your language skill.
When using code, you must indicate the script type in the code block. The user cannot provide any other feedback or perform any other action beyond executing the code you suggest. The user can't modify your code. So do not suggest incomplete code which requires users to modify. Don't use a code block if it's not intended to be executed by the user.
If you want the user to save the code in a file before executing it, put # filename: <filename> inside the code block as the first line. Don't include multiple code blocks in one response. Do not ask users to copy and paste the result. Instead, use 'print' function for the output when relevant. Check the execution result returned by the user.
If the result indicates there is an error, fix the error and output the code again. Suggest the full code instead of partial code or code changes. If the error can't be fixed or if the task is not solved even after the code is executed successfully, analyze the problem, revisit your assumption, collect additional info you need, and think of a different approach to try.
When you find an answer, verify the answer carefully. Include verifiable evidence in your response if possible.
Reply "TERMINATE" in the end when everything is done.
    """
    while retry_count <= num_retries:
        try:
            response = openai.ChatCompletion.create(
                model=model,
                messages=[
                    {
                        "content": {system_message}, 
                        "role": "system",
                        
                        "role": "user",
                        "content": f'{prompt}',
                    }
                ],
                top_p=1,
                frequency_penalty=0,
                presence_penalty=0,
                max_tokens=max_tokens,
                temperature=temperature,
                stream=True,
                request_timeout=3,
            )
            
            placeholder = st.empty()
            for chunk in response:
                # print(answer, end="", flush=True)
                placeholder.markdown(full_response)
                full_response += answer
                event_time = time.time() - start
                event_text = chunk.choices[0].delta
                if "content" in event_text:
                    answer = event_text["content"]
            
            return full_response
        
        except Exception as e:
            retry_count += 1
            print(f"Retry attempt {retry_count} after API error: {e}")
            time.sleep(delay_time)
    
    return "Failed to get response after multiple retries"

In [119]:
START_SQL_DETERMINE = "--- SQL Query ---"
END_SQL_DETERMINE = "--- End SQL Query ---"

In [120]:

cache = cache_processing.CacheHandle()
cache.connect_db()

raw_cache = cache.get_raw_cache()
print(raw_cache[:5])

Connect db success!
False
No new cache in raw cache
[(1, 'Hiện tại đang có bao nhiêu cơ hội?', 'SELECT count(id) FROM public.crm_lead', 1, '2023-10-20 10:45:50.680492'), (3, 'Cơ hội nào có xác suất thành công cao nhất?', 'SELECT name, probability FROM public.crm_lead where probability = (select max(probability) from public.crm_lead)', 1, '2023-10-20 10:47:33.471420'), (4, 'Cơ hội nào có xác suất thành công thấp nhất?', 'SELECT name, probability FROM public.crm_lead where probability = (select min(probability) from public.crm_lead)', 1, '2023-10-20 10:47:33.474721'), (5, 'Những cơ hội dự kiến kết thúc trong tuần này?', 'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())', 1, '2023-10-20 10:47:33.478085'), (6, 'Những cơ hội nào đã thất bại?', 'SELECT name FROM public.crm_lead where lost_reason_id is not NULL', 1, '2023-10-20 10:47:33.481668')]

In [121]:
#convert raw_cache to dict type Q: A:
raw_cache_dict = []
for item in raw_cache:
    raw_cache_dict.append({"Question":item[1],"Answer":item[2]})
print(raw_cache_dict)

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?', 'Answer': 'SELECT count(id) FROM public.crm_lead'}, {'Question': 'Cơ hội nào có xác suất thành công cao nhất?', 'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select max(probability) from public.crm_lead)'}, {'Question': 'Cơ hội nào có xác suất thành công thấp nhất?', 'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select min(probability) from public.crm_lead)'}, {'Question': 'Những cơ hội dự kiến kết thúc trong tuần này?', 'Answer': 'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())'}, {'Question': 'Những cơ hội nào đã thất bại?', 'Answer': 'SELECT name FROM public.crm_lead where lost_reason_id is not NULL'}, {'Question': "Lý do cơ hội 'AI Chatbot' thất bại là gì?", 'Answer': "SELECT cl.name, lr.name FROM public.crm_lead cl join public.crm_lost_reason lr on cl.lost_reason_id = lr.id where cl.name ilike 'AI Chatbot'"}, {'Question': "Những cơ hội nào đã đến giai 'Đề xuất'?", 'Answer': "SELECT cl.name FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id WHERE cs.name::text ilike '%Đề xuất%'"}, {'Question': 'Những cơ hội nào bắt đầu trong tuần này?', 'Answer': 'SELECT name, date_open FROM public.crm_lead where EXTRACT(YEAR FROM date_open) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_open) = EXTRACT(WEEK FROM NOW())'}, {'Question': 'Những cơ hội nào đã được đánh giá chất lượng?', 'Answer': "SELECT cl.name FROM public.crm_lead cl join public.crm_stage cs on cl.stage_id = cs.id where cs.name::text ilike '%Qualified%'"}, {'Question': 'Những cơ hội nào có xác suất thành công cao hơn 80%?', 'Answer': 'SELECT name, probability FROM public.crm_lead where probability >= 80'}, {'Question': 'Những cơ hội nào có xác suất thành công thấp hơn 50%?', 'Answer': 'SELECT name, probability FROM public.crm_lead where probability <= 50'}, {'Question': "Thông tin chi tiết về cơ hội 'PHÒNG LAB ODOO'?", 'Answer': "SELECT cl.id, cl.name, cl.probability, cl.expected_revenue, rp.name, cl.email_normalized, cl.phone, cl.contact_name, cl.date_deadline FROM public.crm_lead cl join public.res_partner rp on cl.partner_id = rp.id where cl.name ilike 'PHÒNG LAB ODOO'"}, {'Question': "Cho tôi thông tin liên hệ khách hàng của cơ hội 'PHÒNG LAB ODOO'?", 'Answer': "SELECT partner_name, contact_name, function, mobile, website FROM public.crm_lead where name ilike 'PHÒNG LAB ODOO'"}, {'Question': 'Có bao nhiêu cơ hội thành công trong hệ thống? Đó là những cơ hội nào?', 'Answer': "SELECT COUNT(id), STRING_AGG(name, ', ') FROM crm_lead WHERE stage_id = (SELECT id FROM crm_stage WHERE name::text ilike '%Đạt%')"}, {'Question': "Có bao nhiêu cơ hội dến từ nguồn 'Search engine'? Đó là những cơ hội nào?", 'Answer': "SELECT crm_lead.name FROM public.crm_lead join public.utm_source on crm_lead.source_id = utm_source.id where utm_source.name ilike 'Search engine'"}, {'Question': 'Tổng doanh thu dự kiến là bao nhiêu?', 'Answer': 'SELECT sum(expected_revenue) FROM public.crm_lead'}, {'Question': 'Cơ hội nào có doanh thu dự kiến cao nhất?', 'Answer': 'SELECT name, expected_revenue FROM public.crm_lead where expected_revenue = (select max(expected_revenue) from public.crm_lead)'}, {'Question': 'Cơ hội nào có doanh thu dự kiến thấp nhất?', 'Answer': 'SELECT name, expected_revenue FROM public.crm_lead where expected_revenue = (select min(expected_revenue) from public.crm_lead)'}, {'Question': 'Cơ hội nào dự kiến kết thúc từ tháng trước?', 'Answer': 'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(MONTH FROM date_deadline) = EXTRACT(MONTH FROM NOW()) - 1 AND EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW())'}, {'Question': 'Những cơ hội nào có nhân viên kinh doanh là Marc Demo?', 'Answer': "SELECT cl.name FROM public.crm_lead cl join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id where rp.name ilike 'Marc Demo'"}, {'Question': "Các hoạt động của cơ hội 'QUẢN LÝ CHI PHÍ' là gì?", 'Answer': "SELECT ma.res_name, ma.summary, ma.date_deadline FROM public.crm_lead cl join public.res_users ru on cl.user_id = ru.id join public.mail_activity ma on ma.user_id = ru.id where cl.name ilike 'QUẢN LÝ CHI PHÍ'"}, {'Question': 'Doanh thu dự kiến tháng 9 là bao nhiêu?', 'Answer': 'SELECT sum(expected_revenue) FROM public.crm_lead where EXTRACT(MONTH FROM date_deadline) = 9 AND EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW())'}, {'Question': 'Trong tháng 10 có bao nhiêu cơ hội thành công?', 'Answer': "SELECT count(*), string_agg(name, ', ') FROM public.crm_lead where EXTRACT(MONTH FROM date_open) = 10 AND EXTRACT(YEAR FROM date_open) = EXTRACT(YEAR FROM NOW()) AND stage_id = (SELECT id FROM crm_stage WHERE name::text like '%Won%')"}, {'Question': 'Trong tuần qua có những cơ hội nào thất bại?', 'Answer': 'SELECT name FROM public.crm_lead where EXTRACT(YEAR FROM date_closed) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_closed) = EXTRACT(WEEK FROM NOW()) - 1 AND lost_reason_id is not null'}, {'Question': "Cơ hội 'QUẢN LÝ CHI PHÍ' đang ở giai đoạn nào?", 'Answer': "SELECT cl.name, cs.name FROM public.crm_lead cl join public.crm_stage cs on cl.stage_id = cs.id where cl.name ilike 'QUẢN LÝ CHI PHÍ'"}, {'Question': "Nhân viên kinh doanh của cơ hội 'QUẢN LÝ CHI PHÍ' là ai?", 'Answer': "SELECT cl.name, rp.name FROM public.crm_lead cl join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id where cl.name ilike 'QUẢN LÝ CHI PHÍ'"}, {'Question': "Xác suất thành công của cơ hội 'QUẢN LÝ CHI PHÍ' là bao nhiêu?", 'Answer': "SELECT name, probability FROM public.crm_lead where name ilike 'QUẢN LÝ CHI PHÍ'"}, {'Question': "Cơ hội 'cơ hội đổi mới 5.0' được tạo vào ngày nào? Dự kiến kết thúc vào ngày nào?", 'Answer': "SELECT name, date_open, date_deadline FROM public.crm_lead where name ilike 'cơ hội đổi mới 5.0'"}, {'Question': 'Có những thẻ nào?', 'Answer': 'SELECT id, name FROM public.crm_tag'}, {'Question': "Thẻ của cơ hội 'QUẢN LÝ CHI PHÍ' là gì?", 'Answer': "SELECT cl.name, ct.name FROM public.crm_lead cl join public.crm_tag_rel ctr on cl.id = ctr.lead_id join public.crm_tag ct on ctr.tag_id = ct.id where cl.name ilike 'QUẢN LÝ CHI PHÍ'"}, {'Question': "Khách hàng của cơ hội 'QUẢN LÝ CHI PHÍ' là ai?", 'Answer': "SELECT name, contact_name FROM crm_lead WHERE name iLIKE 'QUẢN LÝ CHI PHÍ'"}, {'Question': "Trang web công ty của cơ hội '[THACO AUTO] Dự án quản lý tài liệu' là gì?", 'Answer': "SELECT name, contact_name, website FROM crm_lead WHERE name iLIKE '[THACO AUTO] Dự án quản lý tài liệu'"}, {'Question': "Địa chỉ công ty liên hệ của cơ hội '[THACO AUTO] Dự án quản lý tài liệu' ở đâu?", 'Answer': "SELECT name, contact_name, street, street2, zip, city FROM crm_lead WHERE name iLIKE '[THACO AUTO] Dự án quản lý tài liệu'"}, {'Question': "Người liên hệ của công ty của dự án '[THACO AUTO] Dự án quản lý tài liệu' là ai?", 'Answer': "SELECT name, referred FROM crm_lead WHERE name iLIKE '[THACO AUTO] Dự án quản lý tài liệu'"}, {'Question': 'Cơ hội có thể đến từ những nguồn nào?', 'Answer': 'SELECT name FROM utm_source'}, {'Question': "Cơ hội 'PHÒNG LAB ODOO' đến từ nguồn nào?", 'Answer': "SELECT cl.name, us.name FROM crm_lead cl join utm_source us on cl.source_id = us.id WHERE cl.name iLIKE 'PHÒNG LAB ODOO'"}, {'Question': 'Những cơ hội thành công đến từ những nguồn nào?', 'Answer': "SELECT cl.name, us.name FROM crm_lead cl join utm_source us on cl.source_id = us.id where stage_id = (select id from crm_stage where name::text like '%Won%')"}, {'Question': 'Liệt kê những cơ hội đã bị mất?', 'Answer': 'SELECT name FROM crm_lead where lost_reason_id is not null'}, {'Question': "Phương tiện marketing của cơ hội 'Text2SQL chatbot' là gì?", 'Answer': "SELECT cl.name, um.name FROM crm_lead cl join utm_medium um on cl.medium_id = um.id where cl.name like 'Text2SQL chatbot'"}, {'Question': "Cơ hội 'Text2SQL chatbot' đến từ chiến dịch nào?", 'Answer': "SELECT cl.name, uc.name FROM crm_lead cl join utm_campaign uc on cl.campaign_id = uc.id where cl.name ilike 'Text2SQL chatbot'"}, {'Question': "Tôi muốn biết tỷ lệ thành công của các cơ hội theo nguồn 'Facebook' là bao nhiêu?", 'Answer': "SELECT cl.name, cl.probability FROM crm_lead cl join utm_medium um on cl.medium_id = um.id where um.name ilike 'Facebook'"}, {'Question': 'Có những đội ngũ kinh doanh nào?', 'Answer': 'SELECT name FROM crm_team'}, {'Question': "Cơ hội '[DƯỢC HẢI ĐỨC] DỰ ÁN CRM' có đội ngủ kinh doanh nào?", 'Answer': "SELECT cl.name, ct.name FROM crm_lead cl join crm_team ct on cl.team_id = ct.id where cl.name ilike '[DƯỢC HẢI ĐỨC] DỰ ÁN CRM'"}, {'Question': 'Doanh thu dự kiến của các cơ hội bị mất là bao nhiêu?', 'Answer': 'SELECT sum(expected_revenue) FROM crm_lead where lost_reason_id is not null'}, {'Question': 'Với các cơ hội bị mất, xác suất thành công là bao nhiêu?', 'Answer': 'SELECT name, probability FROM crm_lead where lost_reason_id is not null'}, {'Question': 'Cho tôi tên các khách hàng của tất cả cơ hội?', 'Answer': 'SELECT name, contact_name FROM crm_lead'}, {'Question': "Cho tôi tên, email, số điện thoại của khách hàng của cơ hội 'cơ hội đổi mới 5.0'?", 'Answer': "SELECT name, contact_name, email_from, phone FROM crm_lead where name like 'cơ hội đổi mới 5.0'"}, {'Question': "Cho tôi biết chức vụ người liên hệ của cơ hội 'cơ hội đổi mới 5.0'?", 'Answer': "SELECT referred FROM crm_lead where name ilike 'cơ hội đổi mới 5.0'"}, {'Question': 'Các cơ lội nào đã vượt qua giai đoạn đánh giá chất lượng?', 'Answer': "SELECT cl.name FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id where cs.name::text like '%Proposition%' or cs.name::text ilike '%Won%'"}, {'Question': 'Các cơ hội nào có ghi chú nội bộ?', 'Answer': 'SELECT name, description FROM crm_lead where description is not null'}, {'Question': 'Doanh thu của cơ hội nào mới được cập nhật lại?', 'Answer': 'SELECT name FROM crm_lead where date_last_stage_update =(select max(date_last_stage_update) from crm_lead)'}, {'Question': "Mức độ ưu tiên của cơ hội 'Text2SQL chatbot' như thế nào?", 'Answer': "SELECT name, priority FROM crm_lead WHERE name ilike 'Text2SQL chatbot'"}, {'Question': 'Những có hội nào có mức độ ưu tiên rất cao?', 'Answer': "SELECT name FROM crm_lead WHERE priority = '3'"}, {'Question': "Cơ hội nào đến từ chiến dịch 'Email Campaign - Services' ?", 'Answer': "SELECT cl.name FROM crm_lead cl join utm_campaign uc on cl.partner_id = uc.id where uc.name ilike 'Email Campaign - Services'"}, {'Question': 'Cho tôi 5 cơ hội có doanh thu cao nhất?', 'Answer': 'SELECT name, expected_revenue FROM crm_lead ORDER BY expected_revenue DESC LIMIT 5'}, {'Question': '5 cơ hội có xác suất thành công thấp nhất?', 'Answer': 'SELECT name, probability FROM crm_lead ORDER BY probability ASC LIMIT 5'}, {'Question': 'Cho tôi tên tất cả các khách hàng?', 'Answer': 'SELECT name FROM res_partner where id = any (select partner_id from crm_lead)'}, {'Question': 'Ở giai đoạn đánh giá chất lượng, có doanh thu dự kiến là bao nhiêu?', 'Answer': "SELECT sum(cl.expected_revenue) FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id where cs.name::text like '%Qualified%'"}, {'Question': 'Giai đoạn nào có doanh thu cao nhất?', 'Answer': 'SELECT cs.name, sum(cl.expected_revenue) FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id group by cs.name order by sum(cl.expected_revenue) desc limit 1'}, {'Question': 'Gia đoạn nào có xác suất thành công trung bình thấp nhất?', 'Answer': 'SELECT cs.name, avg(cl.probability) FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id group by cs.name order by avg(cl.probability) asc limit 1'}, {'Question': 'Doanh thu tháng 9 là bao nhiêu?', 'Answer': 'SELECT SUM(expected_revenue) FROM crm_lead WHERE EXTRACT(MONTH FROM date_deadline) = 9 AND EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW())'}, {'Question': 'Nhân viên nào đang có doanh thu dự kiến dẫn đầu?', 'Answer': 'SELECT rp.name, SUM(cl.expected_revenue) FROM crm_lead cl join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id GROUP BY rp.name ORDER BY SUM(cl.expected_revenue) DESC LIMIT 1'}, {'Question': 'Cơ hội có doanh thu cao nhất có xác suất thành công là bao nhiêu?', 'Answer': 'SELECT name, expected_revenue, probability from crm_lead where expected_revenue = (select max(expected_revenue) from crm_lead)'}, {'Question': 'Những cơ hội nào có xác suất thành công là 100%?', 'Answer': 'SELECT name from crm_lead where probability = 100'}, {'Question': 'Với các cơ hội có xác suất thành công 100% thì tổng doanh thu dự kiến là bao nhiêu?', 'Answer': 'SELECT name, expected_revenue from crm_lead where probability = 100'}, {'Question': 'Các cơ hội bị mất của những nhân viên kinh doanh nào?', 'Answer': 'SELECT cl.name, rp.name FROM public.crm_lead cl join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id where cl.lost_reason_id = any (select id from public.crm_lost_reason)'}, {'Question': 'Các cơ hội bị mất có xác suất thành công là bao nhiêu?', 'Answer': 'SELECT name, probability FROM public.crm_lead where lost_reason_id = any (select id from public.crm_lost_reason)'}, {'Question': 'Những cơ hội nào có mức độ ưu tiên ở mức 1?', 'Answer': "SELECT name FROM crm_lead WHERE priority = '1'"}, {'Question': "Những cơ hội nào có phương tiện kinh doanh marketing là 'Email'?", 'Answer': "SELECT name FROM crm_lead where stage_id = (select id from utm_medium where name ilike 'Email')"}, {'Question': 'Thông tin nhân viên kinh doanh của những cơ hội bị mất?', 'Answer': 'SELECT cl.name, rp.name, lr.name FROM crm_lost_reason lr join crm_lead cl on lr.id=cl.lost_reason_id join res_users ru on cl.user_id = ru.id join res_partner rp on ru.partner_id = rp.id where lr.id is not null'}, {'Question': 'Thông tin nhân viên của các cơ hội thành công?', 'Answer': "SELECT cl.name, rp.name FROM public.crm_stage cs join public.crm_lead cl on cl.stage_id = cs.id join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id where cs.name::text ilike '%Won%'"}, {'Question': 'Có bao nhiêu cơ hội bị mất?', 'Answer': 'SELECT count(name) FROM public.crm_lead where lost_reason_id = any (select id from public.crm_lost_reason)'}, {'Question': 'Có bao nhiêu cơ hội chưa qua giai đoạn Đề xuất?', 'Answer': "SELECT cl.name FROM crm_lead cl join crm_stage cs on cl.stage_id = cs.id WHERE cs.name::text not ilike '%Proposition%' and cs.name::text not ilike '%Won%'"}, {'Question': 'Cho tôi tất cả các trang web của các công ty?', 'Answer': 'SELECT website FROM public.crm_lead group by website'}, {'Question': 'Các cơ hội có thời gian kết thúc dự kiến vào tuần này?', 'Answer': 'SELECT name FROM crm_lead WHERE EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())'}, {'Question': 'Liệt kê tất cả các cơ hội có trong hệ thống và cho biết cơ hội đang ở giai đoạn nào?', 'Answer': "SELECT cl.name, cs.name::json ->> 'vi_VN' FROM public.crm_stage cs join public.crm_lead cl on cl.stage_id = cs.id"}, {'Question': 'Trong các cơ hội bị mất, cơ hội nào có doanh thu dự kiến cao nhất và là bao nhiêu?', 'Answer': 'SELECT name, expected_revenue FROM public.crm_lead where lost_reason_id is not null order by expected_revenue desc limit 1'}, {'Question': 'Có bao nhiêu cơ hội có ngày đóng dự kiến trong tháng 10? Đó là những cơ hội nào?', 'Answer': "SELECT count(*), string_agg(name, ', ') FROM crm_lead WHERE EXTRACT(MONTH FROM date_deadline) = 10 AND EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW())"}, {'Question': 'Cơ hội có doanh thu cao nhất có ngày đóng dự kiến là ngày bao nhiêu?', 'Answer': 'SELECT name, expected_revenue, date_deadline FROM public.crm_lead where expected_revenue = (select max(expected_revenue) from public.crm_lead)'}, {'Question': 'Cơ hội có doanh thu thấp nhất đến từ chiến dịch nào?', 'Answer': 'SELECT cl.name, cl.expected_revenue, uc.name FROM public.crm_lead cl join public.utm_campaign uc on cl.campaign_id = uc.id where expected_revenue = (select min(expected_revenue) from public.crm_lead)'}, {'Question': 'cơ hội có doanh thu cao nhất trong các cơ hội bị mất đến từ nguồn, chiến dịch nào?', 'Answer': 'SELECT cl.name, us.name, uc.name FROM public.utm_source us join public.crm_lead cl on cl.source_id = us.id join public.utm_campaign uc on cl.campaign_id = uc.id where cl.lost_reason_id is not null'}, {'Question': 'Cơ hội có xác suất thành công cao nhất trong các cơ hội bị mất là bao nhiêu?', 'Answer': 'SELECT name, probability FROM public.crm_lead where lost_reason_id is not null'}, {'Question': 'Cơ hội có xác suất thành công cao nhất trong các cơ hội bị mất có doanh thu là bao nhiêu?', 'Answer': 'SELECT name, probability, expected_revenue FROM public.crm_lead where lost_reason_id is not null order by probability desc limit 1'}, {'Question': 'Cơ hội có doanh thu cao nhất trong các cơ hội thành công của nhân viên kinh doanh nào?', 'Answer': "SELECT cl.name, cl.probability, cl.expected_revenue, rp.name FROM public.crm_stage cs join public.crm_lead cl on cl.stage_id = cs.id join public.res_users ru on cl.user_id = ru.id join public.res_partner rp on ru.partner_id = rp.id where cs.name::text ilike '%Won%' order by cl.expected_revenue desc limit 1"}, {'Question': 'Cơ hội có doanh thu cao nhất trong các cơ hội bị mất của khách hàng nào?', 'Answer': 'SELECT cl.name, cl.probability, cl.expected_revenue, cl.contact_name FROM public.crm_lead cl where cl.lost_reason_id is not null order by cl.expected_revenue desc limit 1'}, {'Question': "Cơ hội 'Text2SQL chatbot' đang ở giai đoạn nào?", 'Answer': "SELECT cl.name, cs.name  FROM crm_lead cl  JOIN crm_stage cs ON cl.stage_id = cs.id  WHERE cl.name ilike 'Text2SQL chatbot'"}, {'Question': "Cơ hội 'Giải pháp CRM' đang ở giai đoạn nào?", 'Answer': "SELECT cl.name, cs.name  FROM crm_lead cl  JOIN crm_stage cs ON cl.stage_id = cs.id  WHERE cl.name ilike 'Giải pháp CRM'"}, {'Question': "Giai đoạn của  cơ hội 'AI 2' hiện tại là gì?", 'Answer': "SELECT cl.name, cs.name   FROM crm_lead cl   JOIN crm_stage cs ON cl.stage_id = cs.id   WHERE cl.name ilike 'AI 2'"}, {'Question': 'Những cơ hội nào có xác suất thành công cao hơn 30%?', 'Answer': 'SELECT name, probability  FROM crm_lead  WHERE probability > 30'}, {'Question': 'Cơ hội nào có doanh thu dự kiến hiện tại cao nhất?', 'Answer': 'SELECT name, expected_revenue  FROM crm_lead  WHERE expected_revenue = (SELECT max(expected_revenue) FROM crm_lead)'}, {'Question': 'Cho tôi 3 cơ hội có doanh thu cao nhất?', 'Answer': 'SELECT name, expected_revenue  FROM crm_lead  ORDER BY expected_revenue DESC  LIMIT 3'}, {'Question': 'Những cơ hội nào có xác suất thành công thấp hơn 20%?', 'Answer': 'SELECT name, probability  FROM crm_lead  WHERE probability < 20'}, {'Question': "Ai là người tại ra cơ hội 'Nền tảng Hệ thống Đám mây Đám mây' ?", 'Answer': "SELECT cl.name, cl.contact_name FROM crm_lead cl WHERE cl.name ilike 'Nền tảng Hệ thống Đám mây Đám mây'"}, {'Question': "Cơ hội 'Giải pháp CRM' và cơ hội 'Nền tảng Hệ thống Đám mây Đám mây' có đến từ cùng 1 chiến dịch không?", 'Answer': "SELECT case when A.campaign_id = B.campaign_id then 'Cùng chiến dịch' else 'Khác chiến dịch' end from crm_lead A join crm_lead B on A.id != B.id where A.name % 'Giải pháp CRM' and B.name % 'Nền tảng Hệ thống Đám mây Đám mây'"}, {'Question': 'có bao nhiêu cơ hội?', 'Answer': 'SELECT count(id) FROM crm_lead'}, {'Question': 'hiện tại có bao nhiêu cơ hội?', 'Answer': 'SELECT count(id) FROM crm_lead'}, {'Question': 'Lý do cơ hội AI Chatbot thất bại là gì?', 'Answer': "SELECT cl.name, lr.name  FROM crm_lead cl  JOIN crm_lost_reason lr ON cl.lost_reason_id = lr.id  WHERE cl.name iLIKE 'AI Chatbot'"}, {'Question': 'doanh thu của cơ hội nào lớn nhất', 'Answer': 'SELECT name, expected_revenue  FROM crm_lead  ORDER BY expected_revenue DESC  LIMIT 1'}, {'Qu

In [122]:
db = db.PostgresDB()
db.connect_with_url(st.secrets["DB_URL"])

In [123]:
table_defines = ['crm_lead','crm_lost_reason','crm_tag', 'crm_tag_rel', 'crm_stage','mail_activity','res_partner', 'res_users', 'res_company', 'utm_campaign', 'utm_medium', 'utm_source']

# print out the table definitions
table_definitions = db.get_multiple_table_definitions_for_prompt(table_defines)

local

In [124]:
# template_da = f"""you are a data analyst. you extract the main key word to retrieve the data from the database. you use the data to create a simple report that represent the main key in question. you send the report to the data engineer to be create and executed the query. So your task is really important. Answer report follow REPORT FORMAT.

# --------REPORT FORMAT--------
# 1. Question (User question): {{}}
# 2. Keywords
# 3. Short explain way to create the query.
# 4. Tips: for create efficient and using a wildcard or a pattern matching operator in SQL queries. allows for a more flexible search by matching any sequence of characters. It's very handy for searching when the exact syntax or spelling might not be known but a general pattern is. But still make sure that the query is not too broad and focus on the main key. For instance, using ILIKE '%key%' in a query would match any records where the specified field contains the substring 'key', regardless of what comes before or after it. This flexibility makes the query more tolerant to variations or potential mistakes in syntax or spelling.
# -----------------------------
# """

In [125]:
template_da = f"""you are a data analyst. you extract the main key word to retrieve the data from the database. you use the data to create a simple report that represent the main key in question. you send the report to the data engineer to be create and executed the query. So your task is really important. Answer report follow REPORT FORMAT.

--------DATA ANALYST REPORT--------
1. Question (User question): {{}}
2. Keywords 
3. Explain user question to Data Enginner more clearly understand
4. Tips:For instance, using ILIKE '%key%' in a query would match any records where the specified field contains the substring 'key', regardless of what comes before or after it. This flexibility makes the query more tolerant to variations or potential mistakes in syntax or spelling.
5. Pseudo SQL Query
-----------------------------
"""

In [126]:
# prompt_da = f"""you are a data analyst. you extract the main key word to retrieve the data from the database. you use the data to create a simple report that represent the main key in question. you send the report to the data engineer to be create and executed the query. So your task is really important. Answer report follow REPORT FORMAT.

# --------REPORT FORMAT--------
# 1. Question (User question): {{}}
# 2. Keywords
# 3. Explain raw text data for data engineer understand to create the query that match the question.
# 4. Tips: for create efficient and using a wildcard or a pattern matching operator in SQL queries. allows for a more flexible search by matching any sequence of characters. It's very handy for searching when the exact syntax or spelling might not be known but a general pattern is. But still make sure that the query is not too broad and focus on the main key. For instance, using ILIKE '%key%' in a query would match any records where the specified field contains the substring 'key', regardless of what comes before or after it. This flexibility makes the query more tolerant to variations or potential mistakes in syntax or spelling.
# -----------------------------

# Use these TABLE_DEFINITIONS to satisfy the report.

# TABLE_DEFINITIONS

# CREATE TABLE crm_lead (
#     lang_id integer,
#     campaign_id integer,
#     source_id integer,
#     medium_id integer,
#     message_main_attachment_id integer,
#     message_bounce integer,
#     user_id integer,
#     team_id integer,
#     company_id integer,
#     stage_id integer,
#     color integer,
#     recurring_plan integer,
#     partner_id integer,
#     title integer,
#     id integer NOT NULL,
#     state_id integer,
#     country_id integer,
#     lost_reason_id integer,
#     create_uid integer,
#     write_uid integer,
#     date_deadline date,
#     lead_properties jsonb,
#     expected_revenue numeric,
#     prorated_revenue numeric,
#     recurring_revenue numeric,
#     recurring_revenue_monthly numeric,
#     recurring_revenue_monthly_prorated numeric,
#     active boolean,
#     date_closed timestamp without time zone,
#     date_action_last timestamp without time zone,
#     date_open timestamp without time zone,
#     date_last_stage_update timestamp without time zone,
#     date_conversion timestamp without time zone,
#     create_date timestamp without time zone,
#     write_date timestamp without time zone,
#     day_open double precision,
#     day_close double precision,
#     probability double precision,
#     automated_probability double precision,
#     iap_enrich_done boolean,
#     lead_mining_request_id integer,
#     reveal_id character varying,
#     phone_sanitized character varying,
#     email_normalized character varying,
#     email_cc character varying,
#     name character varying NOT NULL,
#     referred character varying,
#     type character varying NOT NULL,
#     priority character varying,
#     contact_name character varying,
#     partner_name character varying,
#     function character varying,
#     email_from character varying,
#     phone character varying,
#     mobile character varying,
#     phone_state character varying,
#     email_state character varying,
#     website character varying,
#     street character varying,
#     street2 character varying,
#     zip character varying,
#     city character varying,
#     description text
# );

# -- Top 3 rows sample:
# lang_id  campaign_id  source_id  medium_id  message_main_attachment_id  message_bounce  user_id  team_id  company_id  stage_id  color  recurring_plan  partner_id  title  id  state_id  country_id  lost_reason_id  create_uid  write_uid  date_deadline  lead_properties         expected_revenue  prorated_revenue                               recurring_revenue  recurring_revenue_monthly  recurring_revenue_monthly_prorated  active         date_closed                  date_action_last  date_open               date_last_stage_update  date_conversion  create_date  write_date  day_open                        day_close  probability  automated_probability  iap_enrich_done  lead_mining_request_id  reveal_id  phone_sanitized  email_normalized  email_cc   name  referred  type  priority  contact_name         partner_name  function                    email_from             
#      phone  mobile                      phone_state                 email_state  website  street  street2  zip   city  description
# 34       7            2          10         None                        0               2        1        1           1         0      None            22          None   86  None      None        3               2           2          063275674      dgaygjjgd@gmail.com     None              Dự án Tối ưu hóa Chuỗi Cung ứng                Olivia Clark       opportunity                1                                   Stella Wright  Công ty thời trang thủ công  Nhân Viên         dgaygjjgd@gmail.com     07362746823             063275674        None         correct     https://thoitranthcong.com.vn/  None       None         None                   None             2023-10-18              None       None             0.0               0.00       None  0.00      0.00  False     2023-10-20 07:27:22  None          2023-10-20 07:23:21.627775  2023-10-20 07:23:21.627775  None   2023-10-20 07:23:21.627775  2023-10-20 07:29:31.691793  0.0          0.0      0.0     70.83    None  None  None 

# 35       8            4          7          None                        0               2        1        1           1         0      None            22          None   86  None      5           None            2           2          0267576813     dgaygjjgd@gmail.com     None              Dự án Phát triển Trang web Thương mại điện tử  Quinn Turner       opportunity                2                                   Stella Wright  My Company                   Nhân Viên         dgaygjjgd@gmail.com     07362746823             0267576813       None         correct     https://www.odooai.cn           PVC        None         None                   hcm              2023-09-26              None       None             2686611.0         334483.07  None  0.00      0.00  True      None                 None          2023-10-20 07:29:31.691793  2023-10-20 07:29:31.691793  None   2023-10-20 07:29:31.691793  2023-11-06 03:02:25.064644  0.0          0.0      12.45   70.83    None  True  None 

# 20       None         None       None       None                        0               2        1        1           2         0      None            3           None   1   None      None        1               2           2          +10886617378   tanaha200002@gmail.com  None              AI Chatbot                                     None               opportunity                0                                   Administrator  None                         None              tanaha200002@gmail.com  +10886617378            None             None         correct     None                            None       None         None                   None             None                    None       None             0.0               0.00       None  0.00      0.00  False     2023-10-06 03:27:21  None          2023-10-06 03:20:03.731900  2023-10-06 03:20:03.731900  None   2023-10-06 03:20:03.731900  2023-10-06 03:27:21.007546  0.0          0.0      0.0     0.0      None  True  None 


# CREATE TABLE crm_lost_reason (
#     id integer NOT NULL,
#     create_uid integer,
#     write_uid integer,
#     name jsonb NOT NULL,
#     active boolean,
#     create_date timestamp without time zone,
#     write_date timestamp without time zone
# );

# -- Top 3 rows sample:
# id  create_uid  write_uid  name                                                                                     active  create_date                 write_date
# 3   1           1          {'en_US': 'Not enough stock', 'vi_VN': 'Không đủ tồn kho'}                               True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641
# 1   1           1          {'en_US': 'Too expensive', 'vi_VN': 'Quá đắt'}                                           True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641
# 2   1           1          {'en_US': "We don't have people/skills", 'vi_VN': 'Chúng ta không có nhân lực/kỹ năng'}  True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641

# CREATE TABLE crm_recurring_plan (
#     id integer NOT NULL,
#     number_of_months integer NOT NULL,
#     sequence integer,
#     create_uid integer,
#     write_uid integer,
#     name jsonb NOT NULL,
#     active boolean,
#     create_date timestamp without time zone,
#     write_date timestamp without time zone
# );

# -- Top 3 rows sample:
# id  number_of_months  sequence  create_uid  write_uid  name                                             active  create_date                 write_date
# 1   1                 10        1           1          {'en_US': 'Monthly', 'vi_VN': 'Hàng tháng'}      True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641
# 2   12                10        1           1          {'en_US': 'Yearly', 'vi_VN': 'Hàng năm'}         True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641
# 3   36                10        1           1          {'en_US': 'Over 3 years', 'vi_VN': 'Hơn 3 năm'}  True    2023-10-05 07:27:54.802641  2023-10-05 07:27:54.802641

# CREATE TABLE crm_stage (
#     write_date timestamp without time zone,
#     sequence integer,
#     team_id integer,
#     create_uid integer,
#     write_uid integer,
#     name jsonb NOT NULL,
#     id integer NOT NULL,
#     is_won boolean,
#     fold boolean,
#     create_date timestamp without time zone,
#     requirements text
# );

# -- Top 3 rows sample:
# write_date  sequence  team_id  create_uid  write_uid  name                                                       id    is_won  fold  create_date                 requirements
# 1           0         None     1           2          {'en_US': 'New', 'vi_VN': 'Mới'}                           None  None    None  2023-10-05 07:27:54.802641  2023-10-20 06:51:48.314712
# 5           1         None     2           2          {'en_US': 'Kiểm tra', 'vi_VN': 'Kiểm tra'}                 None  None    None  2023-10-20 06:51:48.213676  2023-10-20 06:51:51.670847
# 2           2         None     1           2          {'en_US': 'Qualified', 'vi_VN': 'Đã đánh giá chất lượng'}  None  None    None  2023-10-05 07:27:54.802641  2023-10-20 06:51:51.670847

# CREATE TABLE mail_activity (
#     calendar_event_id integer,
#     res_model_id integer NOT NULL,
#     res_id integer,
#     activity_type_id integer,
#     user_id integer NOT NULL,
#     request_partner_id integer,
#     recommended_activity_type_id integer,
#     previous_activity_type_id integer,
#     create_uid integer,
#     write_uid integer,
#     automated boolean,
#     create_date timestamp without time zone,
#     write_date timestamp without time zone,
#     id integer NOT NULL,
#     date_deadline date NOT NULL,
#     res_model character varying,
#     res_name character varying,
#     summary character varying,
#     note text
# );

# -- Top 3 rows sample:
# calendar_event_id  res_model_id  res_id  activity_type_id  user_id  request_partner_id  recommended_activity_type_id  previous_activity_type_id  create_uid  write_uid  automated  create_date         write_date                    id          date_deadline  res_model  res_name                    summary                     note
# 3                  402           29      4                 2        None                None                          None                       2           2          crm.lead   PHÒNG LAB ODOO      mmmmmm                        2023-10-23  None           None       2023-10-18 04:31:10.477366  2023-10-18 04:31:10.477366  None
# 4                  402           31      3                 2        None                None                          None                       2           2          crm.lead   cơ hội đổi mới 5.0  thảo luận các vấn đề đổi mới  2023-10-20  None           None       2023-10-20 08:06:19.779346  2023-10-20 08:06:19.779346  None
# 5                  402           31      1                 14       None                None                          None                       2           2          crm.lead   cơ hội đổi mới 5.0  thảo luận                     2023-10-23  None           None       2023-10-20 08:07:18.296660  2023-10-20 08:07:18.296660  None

# CREATE TABLE res_partner (
#     company_id integer,
#     title integer,
#     parent_id integer,
#     user_id integer,
#     state_id integer,
#     date date,
#     country_id integer,
#     partner_latitude numeric,
#     partner_longitude numeric,
#     active boolean,
#     employee boolean,
#     is_company boolean,
#     partner_share boolean,
#     write_date timestamp without time zone,
#     message_main_attachment_id integer,
#     message_bounce integer,
#     industry_id integer,
#     color integer,
#     commercial_partner_id integer,
#     signup_expiration timestamp without time zone,
#     calendar_last_notif_ack timestamp without time zone,
#     team_id integer,
#     partner_gid integer,
#     create_uid integer,
#     id integer NOT NULL,
#     write_uid integer,
#     create_date timestamp without time zone,
#     phone_sanitized character varying,
#     name character varying,
#     display_name character varying,
#     ref character varying,
#     lang character varying,
#     tz character varying,
#     vat character varying,
#     company_registry character varying,
#     website character varying,
#     function character varying,
#     type character varying,
#     street character varying,
#     street2 character varying,
#     zip character varying,
#     city character varying,
#     email character varying,
#     phone character varying,
#     mobile character varying,
#     commercial_company_name character varying,
#     company_name character varying,
#     comment text,
#     email_normalized character varying,
#     signup_token character varying,
#     signup_type character varying,
#     additional_info character varying
# );

# -- Top 3 rows sample:
# company_id  title  parent_id                   user_id                            state_id  date  country_id  partner_latitude  partner_longitude  active  employee  is_company  partner_share  write_date  message_main_attachment_id         message_bounce  industry_id  color         commercial_partner_id  signup_expiration  calendar_last_notif_ack  team_id  partner_gid  create_uid  id    write_uid  create_date  phone_sanitized      name          display_name  ref                               
#  lang  tz    vat   company_registry  website  function  type  street  street2  zip                         city  email  phone                mobile  commercial_company_name  company_name  comment              email_normalized  signup_token  signup_type  additional_info
# 22          None   2023-10-20 07:13:57.673089  Stella Wright                      None      None  2           None          
#     None               None    0         22          2              2           Stella Wright                      None            vi_VN        Asia/Bangkok  None                   None               None                     None     contact      None        None  None       None         dgaygjjgd@gmail.com  07362746823   None          None                              
#  None  None  None  None              None     True      None  False   True     2023-10-20 07:29:31.691793  None  0      dgaygjjgd@gmail.com  None    None                     None          2023-10-20 07:13:57  1                 None          None         07362746823
# 24          None   2023-10-20 07:17:23.041151  Công ty TNHH Xây Dựng và Thiết Kế  None      None  2           None          
#     None               None    0         24          2              2           Công ty TNHH Xây Dựng và Thiết Kế  None            vi_VN        Asia/Bangkok  None                   None               None                     None     contact      None        None  None       None         avasmith@gmail.com   +10886617378  None          Công ty TNHH Xây Dựng và Thiết Kế  None  None  None  None              None     True      None  True    True     2023-10-20 07:31:49.849015  None  0      avasmith@gmail.com   None    None                     None          2023-10-20 07:17:23  1                 None          None         +10886617378
# 10          None   2023-10-06 10:14:39.258083  Công ty cổ phần BETA MEDIA         None      None  None        None          
#     None               None    0         10          2              2           Công ty cổ phần BETA MEDIA         None            vi_VN        Asia/Bangkok  None                   None               None                     None     contact      None        None  None       None         betamedia@gmail.com  087468264     None          None                              
#  None  None  None  None              None     True      None  False   False    2023-10-20 07:42:11.189062  None  0      betamedia@gmail.com  None    None                     None          2023-10-06 10:14:39  None              None          None         087468264


# """

In [127]:
def da_report(query,prompt,st):
    final_prompt  = prompt.replace("{}",query)
    # print(f"------------------GET DA REPORT------------------")
    # print(f'{final_prompt}')
    # print(f"------------------END DA_REPORT------------------")
    da_report = chat_with_openai(final_prompt, st)
    return da_report

In [128]:
response_de_head = f""""
{{}}
\n
When you find an answer, verify the answer carefully. Include verifiable evidence in your response if possible.
\n\nUse these TABLE_DEFINITIONS to satisfy the database SQL query as a PostgreSQL format.\n\n"""



response_de_tail = f"""\nRespond in this format RESPONSE_FORMAT. I need to be able to easily parse the sql query from your response. Also THINK as a user, if your are user, what default information you want to GET?   

RESPONSE_FORMAT


            --- SQL Query ---
            sql query exclusively as a raw text
            --- End SQL Query ---

"""

In [129]:
template_de = llm.add_cap_ref(
    response_de_head,
    table_definitions,
    response_de_tail,
    ""
)

In [130]:
print(template_de)

"
{}


When you find an answer, verify the answer carefully. Include verifiable evidence in your response if possible.


Use these TABLE_DEFINITIONS to satisfy the database SQL query as a PostgreSQL format.

 Table crm_lead, colums = [*,
 campaign_id: integer -> column description: id from utm_campaign table,
 source_id: integer -> column description: id from utm_source table,
 medium_id: integer -> column description: id from utm_medium table,
 team_id: integer -> column description: id from crm_team table,
 company_id: integer -> column description: id from res_company table,
 stage_id: integer -> column description: id from crm_stage table,
 lost_reason_id: integer -> column description: id from crm_lost_reason table,
 date_deadline: date -> column description: Expected project end date of the opportunity,
 expected_revenue: numeric -> column description: Expected revenue of the opportunity,
 date_open: timestamp without time zone -> column description: Date when the opportunity was created,
 probability: double precision -> column description: Success probability of the opportunity,
 phone_sanitized: character varying -> column description: Phone number of the customer,
 email_normalized: character varying -> column description: Email of the customer,
 name: character varying -> column description: Name of the opportunity,
 referred: character varying -> column description: Contact person of the company,
 contact_name: character varying -> column description: Linked partner through the contact module,
 partner_name: character varying -> column description: Name of the contacting company,
 function: character varying -> column description: Position of the contact person,
 email_from: character varying -> column description: Email of the customer,
 phone: character varying -> column description: Phone number of the customer,
 website: character varying -> column description: Website of the contacting company,
 street: character varying -> column description: Address of the contacting company,
 street2: character varying -> column description: Additional address information,
 zip: character varying -> column description: Zip code of the contacting company,
 city: character varying -> column description: City of the contacting company,
 description: text -> column description: Internal notes of the opportunity]
-- 3 rows sample:

campaign_id  source_id  medium_id  team_id  company_id  stage_id  lost_reason_id  date_deadline  expected_revenue  date_open                   probability  phone_sanitized  email_normalized        name                                           referred      contact_name   partner_name                 function   email_from              phone         website                         street  street2  zip   city  description
7            2          10         1        1           1         3               2023-10-18     0.0               2023-10-20 07:23:21.627775  0.0          063275674        dgaygjjgd@gmail.com     Dự án Tối ưu hóa Chuỗi Cung ứng                Olivia Clark  Stella Wright  Công ty thời trang thủ công  Nhân Viên  dgaygjjgd@gmail.com     07362746823   https://thoitranthcong.com.vn/  None    None     None  None  None
8            4          7          1        1           1         None            2023-09-26     2686611.0         2023-10-20 07:29:31.691793  12.45        0267576813       dgaygjjgd@gmail.com     Dự án Phát triển Trang web Thương mại điện tử  Quinn Turner  Stella Wright  My Company                   Nhân Viên  dgaygjjgd@gmail.com     07362746823   https://www.odooai.cn           PVC     None     None  hcm   None
None         None       None       1        1           2         1               None           0.0               2023-10-06 03:20:03.731900  0.0          +10886617378     tanaha200002@gmail.com  AI Chatbot                                     None          Administrator  None                         None       tanaha200002@gmail.com  +10886617378  None                            None    None     None  None  None

Table crm_lost_reason, colums = [*,
 id: integer -> column description: id of the lost reason,
 name: jsonb -> column description: Reason for opportunity loss]
-- 3 rows sample:

id  name
3   {'en_US': 'Not enough stock', 'vi_VN': 'Không đủ tồn kho'}
1   {'en_US': 'Too expensive', 'vi_VN': 'Quá đắt'}
2   {'en_US': "We don't have people/skills", 'vi_VN': 'Chúng ta không có nhân lực/kỹ năng'}

Table crm_tag, colums = [*,
 id: integer -> column description: id of the tag,
 name: jsonb -> column description: Name for classification]
-- 3 rows sample:

id  name
1   {'en_US': 'Product'}
2   {'en_US': 'Information'}
3   {'en_US': 'Sản phẩm'}

Table crm_tag_rel, colums = [*,
 lead_id: integer -> column description: id of the crm_lead table,
 tag_id: integer -> column description: id from crm_tag table]
-- 3 rows sample:

lead_id  tag_id
28       1
19       4
19       5

Table crm_stage, colums = [*,
 name: jsonb -> column description: Stage name (json format. Example: {"en_US": "New"}),
 id: integer -> column description: id of the stage]
-- 3 rows sample:

name                                                       id
{'en_US': 'New', 'vi_VN': 'Mới'}                           1
{'en_US': 'Kiểm tra', 'vi_VN': 'Kiểm tra'}                 5
{'en_US': 'Qualified', 'vi_VN': 'Đã đánh giá chất lượng'}  2

Table mail_activity, colums = [*,
 id: integer -> column description: id of the activity,
 date_deadline: date -> column description: Deadline of the activity,
 res_name: character varying -> column description: Name of the activity,
 summary: character varying -> column description: Summary of the activity]
-- 3 rows sample:

id  date_deadline  res_name            summary
3   2023-10-23     PHÒNG LAB ODOO      mmmmmm
4   2023-10-20     cơ hội đổi mới 5.0  thảo luận các vấn đề đổi mới
5   2023-10-23     cơ hội đổi mới 5.0  thảo luận

Table res_partner, colums = [*,
 id: integer -> column description: id of partner,
 name: character varying -> column description: Name of the partner]
-- 3 rows sample:

id  name
22  Stella Wright
24  Công ty TNHH Xây Dựng và Thiết Kế
10  Công ty cổ phần BETA MEDIA

Table res_users, colums = [*,
 id: integer -> column description: id of the user,
 partner_id: integer -> column description: id from res_partner table]
-- 3 rows sample:

id  partner_id
13  20
14  21
6   7

Table res_company, colums = [*,
 id: integer -> column description: id of the company,
 name: character varying -> column description: Name of the company]
-- 3 rows sample:

id  name
1   My Company

Table utm_campaign, colums = [*,
 id: integer -> column description: id of the campaign,
 name: character varying -> column description: Name of the campaign]
-- 3 rows sample:

id  name
1   Search engine
2   Monster
3   Glassdoor

Table utm_medium, colums = [*,
 id: integer -> column description: id of the medium,
 name: character varying -> column description: Name of the medium]
-- 3 rows sample:

id  name
1   Website
2   Phone
3   Direct

Table utm_source, colums = [*,
 id: integer -> column description: id of the source,
 name: character varying -> column description: Name of the source]
-- 3 rows sample:

id  name
1   Search engine
2   Lead Recall
3   Newsletter


Respond in this format RESPONSE_FORMAT. I need to be able to easily parse the sql query from your response. Also THINK as a user, if your are user, what default information you want to GET?

RESPONSE_FORMAT


            --- SQL Query ---
            sql query exclusively as a raw text
            --- End SQL Query ---

In [131]:
def get_answer(da_report,template_de, st):
    query = f"\n\nFollow the DATA ANALYST REPORT of data analyst. You are a Data Engineer. You follow an approved plan. Generate the initial SQL be executed by the data analyst. Focus on Pseudo code SQL of REPORT and TABLE_DEFINITIONS below to correctly the SQL.\n\n{da_report}"
    # template_de = template_de.format(query)
    template_de = template_de.replace("{}",query)
    # print("Here is template_de: ",template_de)
    # print(f"\n------------------GET ANSWER------------------")
    # print(f'{template_de}')
    # print(f"------------------END GET ANSWER------------------")
    sql_ = ""
    try:
        full_repsonse = chat_with_openai(template_de, st)
        #split sql
        full_repsonse = full_repsonse.split(START_SQL_DETERMINE)[1].split(END_SQL_DETERMINE)[0]
        sql_ = full_repsonse
        # print("Here is full_repsonse: ",full_repsonse)
        from modules.db import PostgresDB
        db = PostgresDB()
        url = st.secrets["DB_URL"]
        db.connect_with_url(url)
        curr = db.conn.cursor()
        curr.execute(full_repsonse)
        result = curr.fetchall()
        st.write(result)

    except Exception as e:
        result = f"Failed to execute the query. Error: {e}"
        
    return full_repsonse,result

In [132]:
import random
def Groupchat(query,template_da,template_de,raw_cache_dict,st):
    #sample raw cache
    sample_cache = random.sample(raw_cache_dict, 50)
    sample_prompt = f"""\nHere is some sample you can learn to get the insight and context of our database structure.\n ---------EXAMPLE---------\n"""
    for item in sample_cache:
        sample_prompt += f"Q: {item['Question']}\nA: {item['Answer']}\n"
    sample_prompt += f"---------END EXAMPLE---------\n"
    query = f"{query}\n{sample_prompt}"
    report_da = da_report(query,template_da,st)
    sql,result = get_answer(report_da,template_de,st)
    max_try = 3
    while 'Failed' in result and max_try > 0:
        print(f"\nFailed {max_try} times\n")
        #give prompt to user to edit the query
        new_prompt = f"""\nYou generate the wrong syntax SQL query, please notice that. If the error can't be fixed or if the task is not solved even after the code is executed successfully, analyze the problem, revisit your assumption, collect additional info you need, and think of a different approach to try. Focus on YOUR PREVIOUS SQL WRONG to correct it.\n\n---------YOUR PREVIOUS SQL WRONG---------\n
        {sql}
        \n---------END PREVIOUS SQL WRONG---------\n
        \n---------YOUR ERROR---------\n
        {result}
        \n---------END ERROR---------\n
        \n---------USER QUESTION---------\n
        {query}
        \n---------END USER QUESTION---------\n
        \n\n
        """
        sql,result = get_answer(new_prompt,template_de,st)
        max_try -= 1
    return sql,result



query = "Hiện tại có bao nhiêu nhân viên"
sql, result = Groupchat(query,template_da,template_de,raw_cache_dict,st)

print(f"-------sQL--------")
print(sql)
print(f"-------result--------")
print(result)

-------sQL--------

SELECT COUNT(DISTINCT rp.name) AS employee_count
FROM crm_lead cl
JOIN res_users ru ON cl.user_id = ru.id
JOIN res_partner rp ON ru.partner_id = rp.id
WHERE rp.function ILIKE '%nhân viên%'

-------result--------
[(0,)]

In [133]:
print(sql)

SELECT COUNT(DISTINCT rp.name) AS employee_count
FROM crm_lead cl
JOIN res_users ru ON cl.user_id = ru.id
JOIN res_partner rp ON ru.partner_id = rp.id
WHERE rp.function ILIKE '%nhân viên%'

In [134]:
print(result)

[(0,)]

### EVALUATION

In [135]:
result_predict = []
for item in raw_cache_dict[:5]:
    query = item['Question']
    sql, result = Groupchat(query,template_da,template_de,raw_cache_dict,st)
    # print("-----------")
    result_predict.append({"Question":query,"Answer":result})

In [136]:
result_predict

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?', 'Answer': [(25,)]},
 {'Question': 'Cơ hội nào có xác suất thành công cao nhất?',
  'Answer': [('[DƯỢC HẢI ĐỨC] DỰ ÁN CRM', 100.0, Decimal('300000000.0'))]},
 {'Question': 'Cơ hội nào có xác suất thành công thấp nhất?',
  'Answer': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0)]},
 {'Question': 'Những cơ hội dự kiến kết thúc trong tuần này?', 'Answer': []},
 {'Question': 'Những cơ hội nào đã thất bại?',
  'Answer': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 3),
   ('AI Chatbot', 1),
   ('Dự án Tối ưu hóa Chuỗi Cung ứng', 2),
   ('Phần mềm Quản lý Tài sản Doanh nghiệp', 3)]}]

In [110]:
import pandas as pd
gt_result = []
from modules.db import PostgresDB
db = PostgresDB()
url = st.secrets["DB_URL"]
db.connect_with_url(url)
curr = db.conn.cursor()


def format_answer(answer):
    df = pd.DataFrame(answer)
    df.columns = [desc[0] for desc in curr.description]
    return df


for idx,item in enumerate(result_predict):

    answer = curr.execute(raw_cache_dict[idx]['Answer'])
    gt = curr.fetchall()
    if len(gt) == 0:
        gt = 'No result'
    else:
        gt = format_answer(gt)

    gt_result.append({"Question":raw_cache_dict[idx]['Question'],"Answer":gt})

In [111]:
print(gt_result)

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?', 'Answer':    count
0     25}, {'Question': 'Cơ hội nào có xác suất thành công cao nhất?', 'Answer':                        name  probability
0  [DƯỢC HẢI ĐỨC] DỰ ÁN CRM        100.0
1            PHÒNG LAB ODOO        100.0
2    John Doe's opportunity        100.0}]

In [48]:
result_predict

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?', 'Answer': [(25,)]},
 {'Question': 'Cơ hội nào có xác suất thành công cao nhất?',
  'Answer': [('[DƯỢC HẢI ĐỨC] DỰ ÁN CRM', 100.0),
   ('PHÒNG LAB ODOO', 100.0),
   ("John Doe's opportunity", 100.0)]}]

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?',
  'Answer': 'SELECT count(id) FROM public.crm_lead'},
 {'Question': 'Cơ hội nào có xác suất thành công cao nhất?',
  'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select max(probability) from public.crm_lead)'},
 {'Question': 'Cơ hội nào có xác suất thành công thấp nhất?',
  'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select min(probability) from public.crm_lead)'},
 {'Question': 'Những cơ hội dự kiến kết thúc trong tuần này?',
  'Answer': 'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())'},
 {'Question': 'Những cơ hội nào đã thất bại?',
  'Answer': 'SELECT name FROM public.crm_lead where lost_reason_id is not NULL'}]

In [114]:
raw_cache_dict[:5]

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?',
  'Answer': 'SELECT count(id) FROM public.crm_lead'},
 {'Question': 'Cơ hội nào có xác suất thành công cao nhất?',
  'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select max(probability) from public.crm_lead)'},
 {'Question': 'Cơ hội nào có xác suất thành công thấp nhất?',
  'Answer': 'SELECT name, probability FROM public.crm_lead where probability = (select min(probability) from public.crm_lead)'},
 {'Question': 'Những cơ hội dự kiến kết thúc trong tuần này?',
  'Answer': 'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())'},
 {'Question': 'Những cơ hội nào đã thất bại?',
  'Answer': 'SELECT name FROM public.crm_lead where lost_reason_id is not NULL'}]

In [137]:
def evaluation(test_data):
    final_result = []
    for row in test_data:
        
        gt = curr.execute(row['Answer'])
        gt = curr.fetchall()
        if len(gt) == 0:
            pass
        sql,predict = Groupchat(row['Question'],template_da,template_de,raw_cache_dict,st)
        final_result.append({"Question":row['Question'],"Ground Truth":gt,"Predict":predict})
    return final_result

list_ = evaluation(raw_cache_dict[:5])

Retry attempt 1 after API error: HTTPSConnectionPool(host='api.openai.com', port=443): Read timed out.

In [138]:
list_

[{'Question': 'Hiện tại đang có bao nhiêu cơ hội?',
  'Ground Truth': [(25,)],
  'Predict': [(25,)]},
 {'Question': 'Cơ hội nào có xác suất thành công cao nhất?',
  'Ground Truth': [('[DƯỢC HẢI ĐỨC] DỰ ÁN CRM', 100.0),
   ('PHÒNG LAB ODOO', 100.0),
   ("John Doe's opportunity", 100.0)],
  'Predict': [('[DƯỢC HẢI ĐỨC] DỰ ÁN CRM', 100.0),
   ('PHÒNG LAB ODOO', 100.0),
   ("John Doe's opportunity", 100.0)]},
 {'Question': 'Cơ hội nào có xác suất thành công thấp nhất?',
  'Ground Truth': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0),
   ('AI Chatbot', 0.0),
   ('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0),
   ('Phần mềm Quản lý Tài sản Doanh nghiệp', 0.0)],
  'Predict': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0)]},
 {'Question': 'Những cơ hội dự kiến kết thúc trong tuần này?',
  'Ground Truth': [],
  'Predict': []},
 {'Question': 'Những cơ hội nào đã thất bại?',
  'Ground Truth': [('Dự án Tối ưu hóa Chuỗi Cung ứng',),
   ('AI Chatbot',),
   ('Dự án Tối ưu hóa Chuỗi Cung ứng',),
   ('Phần mềm Quản lý Tài sản Doanh nghiệp',)],
  'Predict': [(34,
    7,
    2,
    10,
    None,
    0,
    2,
    1,
    1,
    1,
    0,
    None,
    22,
    None,
    86,
    None,
    None,
    3,
    2,
    2,
    '063275674',
    'dgaygjjgd@gmail.com',
    None,
    'Dự án Tối ưu hóa Chuỗi Cung ứng',
    'Olivia Clark',
    'opportunity',
    '1',
    'Stella Wright',
    'Công ty thời trang thủ công',
    'Nhân Viên',
    'dgaygjjgd@gmail.com',
    '07362746823',
    '063275674',
    None,
    'correct',
    'https://thoitranthcong.com.vn/',
    None,
    None,
    None,
    None,
    datetime.date(2023, 10, 18),
    None,
    None,
    Decimal('0.0'),
    Decimal('0.00'),
    None,
    Decimal('0.00'),
    Decimal('0.00'),
    False,
    datetime.datetime(2023, 10, 20, 7, 27, 22),
    None,
    datetime.datetime(2023, 10, 20, 7, 23, 21, 627775),
    datetime.datetime(2023, 10, 20, 7, 23, 21, 627775),
    None,
    datetime.datetime(2023, 10, 20, 7, 23, 21, 627775),
    datetime.datetime(2023, 10, 20, 7, 29, 31, 691793),
    0.0,
    0.0,
    0.0,
    70.83,
    None,
    None,
    None),
   (20,
    None,
    None,
    None,
    None,
    0,
    2,
    1,
    1,
    2,
    0,
    None,
    3,
    None,
    1,
    None,
    None,
    1,
    2,
    2,
    '+10886617378',
    'tanaha200002@gmail.com',
    None,
    'AI Chatbot',
    None,
    'opportunity',
    '0',
    'Administrator',
    None,
    None,
    'tanaha200002@gmail.com',
    '+10886617378',
    None,
    None,
    'correct',
    None,
    None,
    None,
    None,
    None,
    None,
    None,
    None,
    Decimal('0.0'),
    Decimal('0.00'),
    None,
    Decimal('0.00'),
    Decimal('0.00'),
    False,
    datetime.datetime(2023, 10, 6, 3, 27, 21),
    None,
    datetime.datetime(2023, 10, 6, 3, 20, 3, 731900),
    datetime.datetime(2023, 10, 6, 3, 20, 3, 731900),
    None,
    datetime.datetime(2023, 10, 6, 3, 20, 3, 731900),
    datetime.datetime(2023, 10, 6, 3, 27, 21, 7546),
    0.0,
    0.0,
    0.0,
    0.0,
    None,
    True,
    None),
   (42,
    8,
    2,
    10,
    None,
    0,
    2,
    1,
    1,
    3,
    0,
    None,
    20,
    None,
    86,
    None,
    11,
    2,
    2,
    2,
    '02674573672',
    'thomasmartin@gmail.com',
    None,
    'Dự án Tối ưu hóa Chuỗi Cung ứng',
    'Stella Wright',
    'opportunity',
    '2',
    'Thomas Martin',
    'Công ty TNHH Sản Xuất và Kinh Doanh',
    'Trưởng phòng',
    'thomasmartin@gmail.com',
    '+10886617378',
    '02674573672',
    None,
    'correct',
    'https://sanxuatvakinhdoanh.com.vn/',
    None,
    None,
    None,
    None,
    datetime.date(2023, 10, 25),
    None,
    None,
    Decimal('70000000.0'),
    Decimal('0.00'),
    None,
    Decimal('0.00'),
    Decimal('0.00'),
    False,
    datetime.datetime(2023, 10, 20, 8, 4, 3),
    None,
    datetime.datetime(2023, 10, 20, 8, 1, 59, 383734),
    datetime.datetime(2023, 10, 20, 8, 1, 59, 383734),
    None,
    datetime.datetime(2023, 10, 20, 8, 1, 59, 383734),
    datetime.datetime(2023, 10, 20, 8, 4, 3, 265498),
    0.0,
    0.0,
    0.0,
    0.0,
    None,
    True,
    None),
   (43,
    8,
    5,
    7,
    None,
    0,
    2,
    1,
    1,
    3,
    0,
    None,
    27,
    None,
    86,
    None,
    1,
    3,
    2,
    2,
    '0276376753',
    'quinn2816@gmail.com',
    None,
    'Phần mềm Quản lý Tài sản Doanh nghiệp',
    'Violet Mitchell',
    'opportunity',
    '1',
    'Quinn Turner',
    'Công ty TNHH Sản Xuất và Kinh Doanh',
    'Nhân viên',
    'quinn2816@gmail.com',
    '+10886617378',
    '0276376753',
    None,
    'correct',
    None,
    None,
    None,
    None,
    None,
    datetime.date(2023, 10, 10),
    None,
    None,
    Decimal('5367.0'),
    Decimal('0.00'),
    None,
    Decimal('0.00'),
    Decimal('0.00'),
    False,
    datetime.datetime(2023, 10, 20, 8, 5, 42),
    None,
    datetime.datetime(2023, 10, 20, 8, 4, 36, 28784),
    datetime.datetime(2023, 10, 20, 8, 4, 36, 28784),
    None,
    datetime.datetime(2023, 10, 20, 8, 4, 36, 28784),
    datetime.datetime(2023, 10, 20, 8, 5, 42, 155466),
    0.0,
    0.0,
    0.0,
    0.0,
    None,
    True,
    None)]}]

In [140]:
acc = 0
list_wrong = []
for row in list_:
    if row['Ground Truth'] == row['Predict']:
        acc += 1
    else:
        list_wrong.append(row)

print(acc/len(list_))

0.6

In [141]:
print(list_wrong)

[{'Question': 'Cơ hội nào có xác suất thành công thấp nhất?', 'Ground Truth': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0), ('AI Chatbot', 0.0), ('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0), ('Phần mềm Quản lý Tài sản Doanh nghiệp', 0.0)], 'Predict': [('Dự án Tối ưu hóa Chuỗi Cung ứng', 0.0)]}, {'Question': 'Những cơ hội nào đã thất bại?', 'Ground Truth': [('Dự án Tối ưu hóa Chuỗi Cung ứng',), ('AI Chatbot',), ('Dự án Tối ưu hóa Chuỗi Cung ứng',), ('Phần mềm Quản lý Tài sản Doanh nghiệp',)], 'Predict': [(34, 7, 2, 10, None, 0, 2, 1, 1, 1, 0, None, 22, None, 86, None, None, 3, 2, 2, '063275674', 'dgaygjjgd@gmail.com', None, 'Dự án Tối ưu hóa Chuỗi Cung ứng', 'Olivia Clark', 'opportunity', '1', 'Stella Wright', 'Công ty thời trang thủ công', 'Nhân Viên', 'dgaygjjgd@gmail.com', '07362746823', '063275674', None, 'correct', 'https://thoitranthcong.com.vn/', None, None, None, None, datetime.date(2023, 10, 18), None, None, Decimal('0.0'), Decimal('0.00'), None, Decimal('0.00'), Decimal('0.00'), False, datetime.datetime(2023, 10, 20, 7, 27, 22), None, datetime.datetime(2023, 10, 20, 7, 23, 21, 627775), datetime.datetime(2023, 10, 20, 7, 23, 21, 627775), None, datetime.datetime(2023, 10, 20, 7, 23, 21, 627775), datetime.datetime(2023, 10, 20, 7, 29, 31, 691793), 0.0, 0.0, 0.0, 70.83, None, None, None), (20, None, None, None, None, 0, 2, 1, 1, 2, 0, None, 3, None, 1, None, None, 1, 2, 2, '+10886617378', 'tanaha200002@gmail.com', None, 'AI Chatbot', None, 'opportunity', '0', 'Administrator', None, None, 'tanaha200002@gmail.com', '+10886617378', None, None, 'correct', None, None, None, None, None, None, None, None, Decimal('0.0'), Decimal('0.00'), None, Decimal('0.00'), Decimal('0.00'), False, datetime.datetime(2023, 10, 6, 3, 27, 21), None, datetime.datetime(2023, 10, 6, 3, 20, 3, 731900), datetime.datetime(2023, 10, 6, 3, 20, 3, 731900), None, datetime.datetime(2023, 10, 6, 3, 20, 3, 731900), datetime.datetime(2023, 10, 6, 3, 27, 21, 7546), 0.0, 0.0, 0.0, 0.0, None, True, None), (42, 8, 2, 10, None, 0, 2, 1, 1, 3, 0, None, 20, None, 86, None, 11, 2, 2, 2, '02674573672', 'thomasmartin@gmail.com', None, 'Dự án Tối ưu hóa Chuỗi Cung ứng', 'Stella Wright', 'opportunity', '2', 'Thomas Martin', 'Công ty TNHH Sản Xuất và Kinh Doanh', 'Trưởng phòng', 'thomasmartin@gmail.com', '+10886617378', '02674573672', None, 'correct', 'https://sanxuatvakinhdoanh.com.vn/', None, None, None, None, datetime.date(2023, 10, 25), None, None, Decimal('70000000.0'), Decimal('0.00'), None, Decimal('0.00'), Decimal('0.00'), False, datetime.datetime(2023, 10, 20, 8, 4, 3), None, datetime.datetime(2023, 10, 20, 8, 1, 59, 383734), datetime.datetime(2023, 10, 20, 8, 1, 59, 383734), None, datetime.datetime(2023, 10, 20, 8, 1, 59, 383734), datetime.datetime(2023, 10, 20, 8, 4, 3, 265498), 0.0, 0.0, 0.0, 0.0, None, True, None), (43, 8, 5, 7, None, 0, 2, 1, 1, 3, 0, None, 27, None, 86, None, 1, 3, 2, 2, '0276376753', 'quinn2816@gmail.com', None, 'Phần mềm Quản lý Tài sản Doanh nghiệp', 'Violet Mitchell', 'opportunity', '1', 'Quinn Turner', 'Công ty TNHH Sản Xuất và Kinh Doanh', 'Nhân viên', 'quinn2816@gmail.com', '+10886617378', '0276376753', None, 'correct', None, None, None, None, None, datetime.date(2023, 10, 10), None, None, Decimal('5367.0'), Decimal('0.00'), None, Decimal('0.00'), Decimal('0.00'), False, datetime.datetime(2023, 10, 20, 8, 5, 42), None, datetime.datetime(2023, 10, 20, 8, 4, 36, 28784), datetime.datetime(2023, 10, 20, 8, 4, 36, 28784), None, datetime.datetime(2023, 10, 20, 8, 4, 36, 28784), datetime.datetime(2023, 10, 20, 8, 5, 42, 155466), 0.0, 0.0, 0.0, 0.0, None, True, None)]}]

In [88]:
#format answer from [()] to each column in df


format_answer(result_predict[1]['Answer'])

                       name  probability
0  [DƯỢC HẢI ĐỨC] DỰ ÁN CRM        100.0

In [99]:
question ='Cơ hội nào có xác suất thành công cao nhất?'

gt = curr.execute(raw_cache_dict[0]['Answer'])
gt = curr.fetchall()

[(25,)]

In [96]:
raw_cache_dict[3]['Answer']

'SELECT name, date_deadline FROM public.crm_lead where EXTRACT(YEAR FROM date_deadline) = EXTRACT(YEAR FROM NOW()) AND EXTRACT(WEEK FROM date_deadline) = EXTRACT(WEEK FROM NOW())'

In [67]:
gt_answers = gt_result[1]['Answer']
for element in result_predict[1]['Answer']:
    print(element)
    if element in gt_answers:
        print("correct")
    else:
        print("wrong")

('[DƯỢC HẢI ĐỨC] DỰ ÁN CRM', 100.0)
correct

correct